@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="nav-link" asp-page="Requests/Create">Create a new Request</a>
    </p>
    <p>
        <a class="nav-link" asp-page="Requests/Index">View Requests</a>
    </p>
</div>
